{% extends 'admin/base.html' %}

{% block title %}修改密码 - 秒杀管理系统{% endblock %}

{% block content %}
    <div class="card">
        <h1>修改密码</h1>
        
        <p>安全起见请输入你的旧密码。然后输入两次你的新密码以确保输入正确。</p>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_old_password">旧密码:</label>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    <div class="errornote">{{ form.old_password.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_new_password1">新密码:</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="errornote">{{ form.new_password1.errors }}</div>
                {% endif %}
                <div class="help">
                    <ul>
                        <li>你的密码不能与你的其他个人信息太相似。</li>
                        <li>你的密码必须包含至少 8 个字符。</li>
                        <li>你的密码不能是一个常见密码。</li>
                        <li>你的密码不能全部是数字。</li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="id_new_password2">新密码确认:</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="errornote">{{ form.new_password2.errors }}</div>
                {% endif %}
                <div class="help">为了校验，请输入与上面相同的密码。</div>
            </div>
            <div class="submit-row">
                <input type="submit" value="修改我的密码">
            </div>
        </form>
    </div>
{% endblock %}